@using System.Collections
@model ReservationFlight.Model.Catalog.Flights.FlightRouteUpdateRequest

@{
    ViewData["Title"] = "Cập nhật tuyến bay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .validation-summary-valid span {
        display: none;
    }
</style>

@section Scripts{
    <script src="/js/site.js"></script>
    <script>
        var flightRouteController = new FlightRouteController();
        flightRouteController.initialize();
    </script>
}

<div class="container-fluid">
    <h1 class="mt-4">Cập nhật tuyến bay</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a style="color: #0779e4;" href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Cập nhật tuyến bay</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="FlightRoute">Về danh sách</a>
        </div>

        <div class="card-body">
            <div class="col-md-8">
                <form asp-action="Edit" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Id" type="hidden" name="Id" value="@Model.Id" />
                    <div class="form-group">
                        <label asp-for="DepartureId" class="control-label"></label>
                        <input asp-for="DepartureId" class="form-control" />
                        <span asp-validation-for="DepartureId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ArrivalId" class="control-label"></label>
                        <input asp-for="ArrivalId" class="form-control" />
                        <span asp-validation-for="ArrivalId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        <select id="ddlStatus" asp-for="Status" class="form-control form-control-md">
                            @*@foreach (DictionaryEntry item in ViewBag.StatusList)
                            {
                            <option value="@item.Value" selected>@item.Key</option>
                            }*@
                        </select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Cập nhật" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>